<!-- Main view -->

<div class='left_menu'>
  <ul>
    <li class='btn btn-graph activity activity-sharkFins' data-graphType='sharkFins'>
      Activities: By Session<span class='icon-toggle'>✓</span>
    </li>
    <li class='btn btn-graph activity activity-lineGraph' data-graphType='lineGraph'>
      Activities: By Day<span class='icon-toggle'>✓</span>
    </li>

    <%# if @user.sleep.any? %>
      <li class='btn btn-graph sleep sleep-sharkFins' data-graphType='sharkFins'>
        Sleep: By Session<span class='icon-toggle'>✓</span>
      </li>
      <li class='btn btn-graph sleep sleep-lineGraph' data-graphType='lineGraph'>
        Sleep: By Day<span class='icon-toggle'>✓</span>
      </li>
    <%# end %>

    <% @user.event_types.each do |event_type| %>
      <li class="<%= "btn btn-graph event event-#{event_type.name.gsub(' ', '_')}-lineGraph" %>"
        data-graphType='lineGraph'
        data-eventType='<%= event_type.name %>'
      >
        <%= event_type.name.titlecase %>
        <span class='icon-toggle'>✓</span>
      </li>
    <% end %>
  </ul>
</div>

<main>
  <div class='graphs'>
    <!-- graphs will be appended here -->
  </div>
</main>
