<!-- Main view -->

<div class='left_menu'>
  <ul>
    <li class='btn btn-graph activity activity-sharkFins' data-value='sharkFins'>
      Activities: By Session
    </li>
    <li class='btn btn-graph activity activity-lineGraph' data-value='lineGraph'>
      Activities: By Day
    </li>

    <%# if @user.sleep.any? %>
      <li class='btn btn-graph sleep sleep-sharkFins' data-value='sharkFins'>
        Sleep: By Session
      </li>
      <li class='btn btn-graph sleep sleep-lineGraph' data-value='lineGraph'>
        Sleep: By Day
      </li>
    <%# end %>

    <% @user.event_types.each do |event_type| %>
      <li class='<%= "btn btn-graph event event-#{event_type.name}-lineGraph" %>'
        data-value=<%= "#{event_type.name}-lineGraph" %>>
        <%= event_type.name.titlecase %>
      </li>
    <% end %>
  </ul>
</div>

<main>
  <div class='graphs'>
    <!-- graphs will be appended here -->
  </div>
</main>
