<h1>Dashboard</h1>

<%= link_to 'Activities', activities_path %>
<%= link_to 'Log out', logout_path, method: :delete %>
<%= link_to 'Permanently delete account and all associated data',
  user_path(session[:user_id]),
  method: :delete,
  data: { confirm: '!!!WARNING!!! THIS IS IRREVERSIBLE! Are you sure?' }
%>
