<!-- Main view -->

<div class='left_menu'>
  <ul>
    <li class='btn btn-graph activity activity-sharkFins' data-value='sharkFins'>
      Activities: By Activity Session
    </li>
    <li class='btn btn-graph activity activity-lineGraph' data-value='lineGraph'>
      Activities: By Day
    </li>
  </ul>
</div>

<main>
  <div class='graphs'>
    <!-- graphs will be appended here -->
  </div>
</main>

<% content_for :header_nav do %>
<% end %>
