<!-- Main view -->

<div class='left_menu'>
  <ul>
    <li class='btn btn-graph activity activity-sharkFins' data-value='sharkFins'>
      Activities: By Session
    </li>
    <li class='btn btn-graph activity activity-lineGraph' data-value='lineGraph'>
      Activities: By Day
    </li>

    <li class='btn btn-graph sleep sleep-sharkFins' data-value='sharkFins'>
      Sleep: By Session
    </li>
    <li class='btn btn-graph sleep sleep-lineGraph' data-value='lineGraph'>
      Sleep: By Day
    </li>
  </ul>
</div>

<main>
  <div class='graphs'>
    <!-- graphs will be appended here -->
  </div>
</main>
