<h1>Dashboard</h1>

<button class='btn btn-graph activity activity-a' value='a'>Activities: By Activity Session</button>
<button class='btn btn-graph activity activity-b' value='b'>Activities: By Day</button>

<div class='graphs'></div>

<footer>
  <nav>
    <%= link_to 'Activities', activities_path %>
    <%= link_to 'Log out', logout_path, method: :delete %>
    <%= link_to 'Permanently delete account and all associated data',
      user_path(session[:user_id]),
      method: :delete,
      data: { confirm: '!!!WARNING!!! THIS IS IRREVERSIBLE! Are you sure?' }
    %>
  </nav>
</footer>
