<div class='welcome_message'>
  <h1>Welcome To TrackCamp!</h1>

  <%= link_to image_tag('signin_google.png', class: 'signin-google'), login_path(:google_oauth2) %>

  <% if Rails.env.development? %>
    <p>Developers: <%= link_to 'log in with Developer Strategy', login_path(:developer) %></p>
  <% end %>
</div>
