/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  background-color: hsla(194, 55%, 97%, 1);
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn-graph {
  box-sizing: border-box;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  width: 100%;
}

.btn-graph:hover {
  background-color: hsla(360, 100%, 100%, 1);
}

footer {
  clear: both;
}

.graph {
  border-bottom: 1px solid hsla(194, 55%, 87%, 1);
  height: 300px;
  margin: auto;
  padding: .5em 1em .5em .25em;
}

header {
  background-color: hsla(194, 55%, 45%, 1);
  border-bottom: solid 1px hsla(194, 55%, 60%, 1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  height: 43px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

/* header nav styling */
  .header_nav {
    float: right;
    font-weight: bolder;
    list-style: none;
    height: 100%;
    margin: 0 4% 0 0;
    text-align: center;
  }

  .header_nav a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .header_nav li {
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: .8em;
    position: relative;
    text-align: center;
  }

  .add_new {
    font-weight: 900;
  }

  .header_nav li:hover {
    background-color: hsla(194, 55%, 30%, 1);
    color: white;
  }

  .header_nav li ul {
    padding: 0;
    position: absolute;
    top: 43px;
    left: 0;
    min-width: 150px;
    width: 100%;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .header_nav li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .header_nav li ul li {
    background-color: hsla(194, 55%, 30%, 1);
    color: white;
    display: block;
  }

  .header_nav li ul li:hover {
    background-color: hsla(194, 55%, 35%, 1);
  }
/* end header-nav styling */

.hidden {
  display: none;
}

.left_menu {
  background-color: hsla(194, 55%, 97%, 1);
  border-right: 1px solid hsla(194, 55%, 87%, 1);
  box-sizing: border-box;
  float: left;
  max-width: 500px;
  min-height: 100%;
  padding: 1em;
  padding-top: 50px;
  width: 25%;
}

.left_menu ul {
  padding: 0;
}

.logo {
  float: left;
  margin-left: 4%;
  margin-top: 6px;
  width: 150px;
}

main {
  background-color: hsla(360, 100%, 100%, 1);
  box-sizing: border-box;
  float: left;
  min-height: 100%;
  padding-top: 50px;
  width: 75%;
}

/* tooltip */
  .tooltip {
    color: inherit;
    text-decoration: none;
  }

  .tooltip span {
    border-radius: 2px;
    box-shadow: 0px 0px 8px 4px #666;
    display: none;
    margin-top: 1.5em;
    padding: .5em;
    position: absolute;
    z-index: 10;
  }

  .tooltip:hover span {
    display: inline;
    position: absolute;
    color: #EEE;
    background: black;
  }
/* end tooltip*/

.welcome_message {
  margin: auto;
  margin-top: 100px;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
